.example-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
overflow:visible;
}

.example-container2 {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
}

.example-container > * {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;

}

.section-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-column > * {
  width: 100%;
}

.example-section2 {
  display: flex;
  height: 60px;
  width: 100%;
  border-width:2px;
}

.example-section3 {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-width:2px;
}

.example-section4 {
  width: 100%;
   /*border-width:1px;
  border-style:dotted;
  border-color:black;*/
  text-align: right;
  height: 50px;
}

.example-section5 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 150px;
}

.mat-button-toggle {
 
/*background-color: blue;*/
  border-width:1px;
  border-style:solid;
  border-color:gainsboro;
}
/* 
.mat-button-toggle-checked {
    color: black;
    background-color: green;
  border-width:1px;
  border-style:dotted;
  border-color:black;
   } */

.mat-button-toggle-disabled {
    background-color: blue;
    border-width:1px;
  border-style:dotted;
  border-color:black;
   }

   .button-toggle-formule{
       width: 100%;
   }


.cptSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-left: 10px;
}

.starterSection{
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
    padding-left: 10px;
}

.dureeSection{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  margin-left: 10px;
    border-width:1px;
  border-style:solid;
  border-color:lawngreen;
}

.choixcpt{
  display: flex;
  align-items: center;
  height: 60px;

}

.buttonGroup{
 margin-left: 10px;
 margin-right: 10px;
}

.offreSection{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.moisOffertSection{
    display: flex;
  width: 400px;
  border-width:1px;
  border-style:solid;
  border-color:darkgrey;
  padding: 10px;
  align-items: center;
}

.essai{
width: 100%;
}

.resumeSection{
  display: flex;
  width: 100%;
  border-width:2px;
  border-style:solid;
  border-color:darkgrey;
  height: 40px;
  margin-bottom: 10px;
}

.offreSuppSection{
  width: 300px;
  border-width:1px;
  border-style:solid;
  border-color:darkgrey;
  padding: 10px;
}

.montantSection{
  width: 100%;
  border-width:1px;
  border-style:solid;
  border-color:darkgrey;
  padding: 10px;
  height: 80px;
  margin-top: 10px;
}

.example-right-align {
  text-align: right;
}

.spaceButtonDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
    margin-top: 10px;
}

.buttonDiv{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.buttonDivEnd{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}



input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}



.starterProgramGroup{
 padding-left: 0px;
}

.encaissement{
  display: flex;
  width: 350px;
  height: 30px;
  justify-content: space-between;
  margin: 5px;
}






::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: white; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: greenyellow; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: blue;  /*replace with your color*/
}

.cardEncaissement {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  border-color:darkgrey;
  background: #fff;
  width: 370px;
  position: relative;
  min-height: 180px;
}
 
.cardEncaissement .card-subtitle {
    color: #99abb4; 
    display: flex; 
    font-weight: 300;
}


.bg-info {
  background-color: #1e88e5 !important; }

  .card-title {
  color: #ffffff;
  display: flex;
  height: 10px;
  padding: 0px;   
}

  .text-white {
  color: #ffffff !important; }

  /*******************
Opacity
*******************/
.op-5 {
  opacity: 0.5; }

  html body .m-b-0 {
  margin-bottom: 0px; }

.card-header{
  display: flex;  
  flex-direction: column; 
  justify-content: flex-start;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.flexRow{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flexCol{
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
}

.flexEnd{
  justify-content: flex-end;
}

.btnAbs{
  position: absolute;
  top:40px;
  right: 20px;
}

.digest{
  border-width:2px;
  border-style:solid;
  border-color:darkgrey;
}