<div class="card card-body" style="height: 320px;">
  <!-- Row -->
  <h4 class="card-title">Votre prévision encaissement</h4>
  <div class="table-responsive m-t-20">
    <table class="table stylish-table">
      <thead>
        <tr>
          <th colspan="3" style="width:100%">Période</th>
          <th style="text-align:center" align="center">tendance</th>
          <th style="text-align:center" align="center">N-1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:50px;"><span class="round">Jour</span></td>
          <td></td>
          <td></td>
          <td align="center">350.9€</td>
          <td align="center">600.9€</td>
        </tr>
        <tr>
          <td style="width:50px;"><span class="round round-success">Mois</span></td>
          <td></td>
          <td></td>
          <td align="center">50365,8€</td>
          <td align="center">55000.9€</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="m-t-0 m-b-0">
    <hr width="100%" color="Orange" class="m-t-0 m-b-5">
  </div>

  <div class="m-t-0 m-b-0  p-t-0">
    <span>Pour dépasser le N-1 du mois vous devez encaisser :</span>
  </div>

  <div style="text-align: center">
    <H2 class="m-t-0 m-b-0 p-t-0">1502€/jour</H2>
  </div>

</div>